body{
	background-color:rgba(128,128,128,20%);
		background: url(../img/bgcolor2.jpg);
	min-width: 720px;
 /* width: 99vw; */
 display: grid;
 grid-template-columns: 40vw 20vw 40vw;
}
.main{
	padding: 20vh 0 0vh 0;

}
.design{
margin: 1%;
	background: white;
padding: 0 0 10% 0;
}
h2{
			background: url(../img/bgcolor.jpg);
			color: white;
			border-bottom: 4px solid rgba(0, 206, 209,100%);
			padding: 3% 0%;
}
.designhelp{
	padding: 0 0 10% 0;
}
.auth_button{
text-align: center;
}
#authorized{
	margin: 0;
	padding: 0;
	padding: 20vh 0 0vh 0;
}
